<div class="container">
  <h1>ユーザーの編集</h1>
  <nav class="nav d-flex justify-content">
    <%= link_to "一覧","/admin/users/index",class:"nav-link" %>
    <%= render partial: 'form',locals: {user: @user} %>
  </nav>
</div>